<h1>Edit Task</h1>
<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br><br>

  <%= f.label :completed %>
  <%= radio_button_tag(:completed, true) %>
  <%= label_tag(:true) %>

  <%= radio_button_tag(:completed, false) %>
  <%= label_tag(:false) %><br><br>

  <%= f.label :notes %>
  <%= f.text_field :notes %><br><br>

  <%= f.label :due %>
  <%= f.date_field :due %><br><br>

  <%= f.label :start %>
  <%= f.date_field :start %><br><br>

  <%= f.submit %>
<% end %>
